body{
    font-family: "SUSE", sans-serif;    
    display: flex;   
    flex-direction: column;
    align-items: center;
}
input, select, option, label{
    font-family: "SUSE", sans-serif;  
}
main{
    width:      100%;
    max-width: 1000px;

}

.param__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;;
}